<div class="container" >
<div class="row" style="margin: 70px;border: solid 1px #dbdbdb; border-radius: 3px;">
  <div style="display: inline-block;padding: 0;; " class="col-md-3">
      <ul style="padding: 0;margin: 0;">
        <li style="list-style: none;margin: 0;padding: 0;border: 0;">
          <a href="/users/edit" style="border-left: 3px solid  #262626;display: block;font-size: 17px;height: 100%;
    color: #262626;font-weight: 600;line-height: 20px;padding: 16px 16px 16px 30px;text-decoration: none">Edit Profile 

          </a>
        </li>
        <li style="list-style: none;margin: 0;padding: 0;border: 0;">
          <a href="" style="display: block;font-size: 17px;height: 100%;
    color: #262626;font-weight: 600;line-height: 20px;padding: 16px 16px 16px 30px;text-decoration: none">Change Password 

          </a>
        </li>
      </ul>
      
  </div>
  <div style="display: inline-block;border-left: solid 1px #dbdbdb;padding: 20px" class="col-md-9">
    <h2>Edit profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :user_name , style: 'float: left' %>
    </div>
    
    <%= f.text_field :user_name, style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb;   padding-left:10px; border-radius: 3px;width: 40%;' %>
  </div>
  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :address , style: 'float: left' %>
    </div>
    
    <%= f.text_field :address, style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb; padding-left:10px; border-radius: 3px;width: 40%;' %>
  </div>
  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :email , style: 'float: left' %>
    </div>
    <%= f.email_field :email, style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb; padding-left:10px; border-radius: 3px;width: 40%;' %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :password , style: 'float: left' %>
    </div>
    <%= f.password_field :password, autocomplete: "off", style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb; padding-left:10px; border-radius: 3px;width: 40%;' %>
    
  </div>

  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :password_confirmation, style: 'float: left' %>
    </div>
    
    <%= f.password_field :password_confirmation, autocomplete: "off", style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb; padding-left:10px;width: 40%; border-radius: 3px' %>
  </div>

  <div class="field">
    <div style="width: 30%; display: inline-block;">
      <%= f.label :current_password , style: 'float: left' %>
    </div>
    <%= f.password_field :current_password, autocomplete: "off" , style: 'background-color: #FFF;height: 43px;color: #262626;border: solid 1px #dbdbdb; padding-left:10px; border-radius: 3px;width: 40%;' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-success uppercase', style: 'background-color: #6c7a8d; border: 0px;float: right;margin: 20px 40px'%>
</div>
<% end %>

    
  </div>
  
</div>
  
</div>
