<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8"/>
<title>Metronic | Login Options - Login Form 1</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/assets/login.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="/assets/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/assets/plugins.css" rel="stylesheet" type="text/css"/>
<link href="/assets/layout.css" rel="stylesheet" type="text/css"/>
<link href="/assets/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
</head>
<body class="login" >
<div class="container">
  <div class="content">
  <!-- BEGIN LOGIN FORM -->

  

  

  

  

 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'register-form') do |f| %>
    <h3>Sign Up</h3>
    <%= devise_error_messages! %>
    <p class="hint">
       Enter your personal details below:
    </p>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Full Name</label>
      <input class="form-control placeholder-no-fix" type="text" placeholder="Full Name" name="fullname"/>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Address</label>
      <input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address"/>
    </div>
    <p class="hint">
       Enter your account details below:
    </p>
    <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'form-control placeholder-no-fix', placeholder: 'Email' %>
    </div>
    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control placeholder-no-fix', placeholder: 'Password'  %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control placeholder-no-fix', placeholder: 'Re-type Your '  %>
    </div>
    <div class="form-actions">
      <a href="/users/sign_in"><button type="button" id="register-back-btn" class="btn btn-default">Back</button></a>
       <%= f.submit "Sign up", class: 'btn btn-success uppercase pull-right'%>
    </div>
<% end %>
</div>
</div>





</body>
<!-- END BODY -->
</html>
