<div id="user-modal-<%= @user.id %>" class="modal fade user-modal" role="dialog">
  <div class="modal-dialog user-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"><%= @user.user_name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for @user, method: :patch, multipart: true,
          authenticity_token: true, remote: true do |f| %>
          <span>
            <span>
              <%= image_tag @user.avatar_url, class: "img-responsive
                user-avatar" %>
            </span>
            <span>
              <%= f.file_field :avatar, class: "user-file" %>
            </span>
          </span>
          <div class="user-btn">
            <%= f.submit "Save", class: "btn btn-info user-btn-save" %>
            <button type="button" class="btn btn-danger user-btn-cancel"
              data-dismiss="modal">
              Cancel
            </button>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
