<div style="border: 1px solid #e6e6e6;border-radius: 3px;width: 600px">
<%= form_for [:user, post], :url => { :controller => "posts", :action => "create", user_id: current_user.id } do |f| %>  
  
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div >
        <div class="field " style="margin: 20px 10px ;padding-bottom: 10px">
          
          <%= f.text_area :content, style: 'border: solid 0px ;color: #262626;font-size: 14px;outline: none;padding: 3px 10px 3px 5px; width: 100%;resize: none', placeholder: 'Content' %>
          <div class="actions" style="border-top: solid 1px #dbdbdb;padding: 20px 20px">
            <div style="float: left;border: solid 2px #dbdbdb;">
              
              <%= f.file_field :file, style: 'padding: 4px 30px',placeholder: 'Image' %>  

            </div>
            
            <%= f.submit "Post", class: "btn btn-default", style: 'float: right; padding: 8px 30px' %>
          </div>
        </div>
        
    </div>
    
<% end %>
</div>