<div class="block profile" style="border: solid 1px #dbdbdb;  border-radius: 3px;">
  <ul class="theme-meta" style="list-style: none;padding: 0px;margin: 0px;">

    <li style="text-align: center;margin-top: 24px" data-toggle="modal"
        data-target="#user-modal-<%= @user.id %>">
      <%= image_tag @user.avatar_url, class: "user-image" %>
    </li>
    <li style="padding: 10px 30px 10px;text-align: center;">
      <a class="title" href="/" style=" color: #1d1b1f; text-decoration: none;font-family: 'Open Sans', sans-serif;">
        <h4>
          <%= @user.user_name %>
        </h4>
      </a>
    </li>
    <li style="padding: 0px 30px 10px">
      <% if current_user != @user %>
        <div class="follow" id="follow_form" onclick="follow()" style="text-decoration: none">
          <% if current_user.following?(@user) %>
            <%= render 'relationships/unfollow' %>
          <% else %>
            <%= render 'relationships/follow' %>
          <% end %>
        </div>
      <% end %>
    </li>
    <li style="padding: 0px 30px 10px">
      <p id="followers" style=" color: #777;font-family: 'Open Sans', sans-serif;">
        <%= @user.followers.count %>
        followers

      </p>

    </li>

    <li style="padding: 0px 30px 10px">
      <p style="border-bottom: solid 1px #dbdbdb;padding-bottom: 10px;font-family: 'Open Sans', sans-serif;color: #777">About</p>
      <span style="font-family: 'Open Sans', sans-serif; color: #1d1b1f;font-size: 17px;font-weight: 500">Co-Founder  Producer at YumYum</span>
    </li>
    <li style="padding: 0px 30px 30px">
      <p style="border-bottom: solid 1px #dbdbdb;padding-bottom: 10px;font-family: 'Open Sans', sans-serif;color: #777">Interests</p>
      <span style="font-family: 'Open Sans', sans-serif; color: #1d1b1f;font-size: 17px;font-weight: 500">Seafood, Pizza, Cake</span>
    </li>
  </ul>
  <%= render "users/edit_avatar" %>
</div>
