<% if current_user != nil%>

  <% provide(:title, "Edit user") %>
  <h1>Update your profile</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(current_user) do |f| %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :birth_day ,"Birthday" %><br>
        <%= f.date_select :birth_day, class: 'form-control' %><br>

        <%= f.label :address, "Address" %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>