<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="block">
        <ul class="theme-meta" style="list-style: none;padding: 0px;">
          <li style="padding: 10px 30px 10px;">
            <a class="title" href="/" style=" color: #777; text-decoration: none; ">
              <h4>
                <%= @user.user_name %>
              </h4>
            </a>
          </li>
          <li style="padding: 0px 30px 10px">
            <% if current_user != @user %>
              <div class="follow" id="follow_form" onclick="follow()" style="text-decoration: none">
                <% if current_user.following?(@user) %>
                  <%= render 'posts/unfollow' %>
                <% else %>
                  <%= render 'posts/follow' %>
                <% end %>
              </div>
            <% end %>
          </li>
          <li style="padding: 0px 30px 10px">
            <p id="followers" style=" color: #777;">
              <%= @user.followers.count %>
              followers
            </p>
          </li>
          <li style="padding: 0px 30px 10px">
            <p style=" color: #777;">
              <%= @posts.count %>
              <% if @posts.count > 0 %>
                posts
              <% else %>
                post
              <% end %>
            </p>
          </li>
          <li style="padding: 0px 30px 10px">
            <p style=" color: #777;">About</p>
            <span>Co-Founder  Producer at YumYum</span>
          </li>
          <li style="padding: 0px 30px 10px">
            <p style=" color: #777;">Interests</p>
            <span>Seafood, Pizza, Cake</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <% if current_user == @user %>
        <%= render 'new_user_post', post: @post %>
      <% end %>
      <% if @posts.count == 0 %>
        <h3 style="color: #777">Empty</h3>
      <% end %>
      <hr style="max-width: 725px">
        <% @posts.each do |post| %>
          <div style="position: relative; margin-bottom: 20px">
            <%= link_to  user_post_path(current_user, post) do %>
              <img src="<%= post.file %>" style="max-width: 735px;max-height: 483px"/>
              <%= link_to  user_post_path(current_user, post), style: 'background: #FFFC;color: #fff;text-align: left;font-size: 14px;padding: 10px;position: absolute;bottom: 20px;left: 20px;line-height: normal;width: 600px' do %>
                <span style="color: #000;">
                  <%= post.created_at.strftime("%B %d, %Y") %>
                </span>
                <span>
                  <span style="color: #000;float: right;">
                    <img src="/assets/heart.png"/>
                  </span>
                  <p style=" color: #000;font-size: 23px;font-weight: 900;margin-top: 10px;">
                    <%= post.content %>
                  </p>
                  <span style="color: #000;">
                    <%= post.content %>
                  </span>
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </hr>
    </div>
  </div>
</div>
