<div id="post-modal-<%= post.id %>" class="modal fade post-modal" role="dialog">
  <div class="modal-dialog post-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"><%= post.user.user_name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for [current_user, post],
          url: user_post_path(current_user, post) , method: :patch,
          multipart: true, authenticity_token: true, remote: true do |f| %>
          <%= image_tag post.file_url, class: "img-responsive post-image" %>
          <div class="field">
            <%= f.file_field :file, class: "post-file" %>
          </div>
          <div class="post-btn">
            <%= f.submit "Save", class: "btn btn-info post-btn-save" %>
            <button type="button" class="btn btn-danger post-btn-cancel"
              data-dismiss="modal">
              Cancel
            </button>
          </div>
          <div class="clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
