<div style="background-color: #fff;
border: 1px solid #e6e6e6;
border-radius: 3px;
margin-left: -1px;
margin-right: -1px;width: 603px;margin-top: 20px;margin-bottom: 20px">
  
<div style="height: 64px;
padding: 20px 20px;">
  <a href="" style="font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-left: 5px;
margin-left: -5px;"><%=  post.user.user_name%></a>
<div class="dropdown1" style="float: right; margin-left: 10px">
  <img src="/assets/more.png" >
  <div class="dropdown-content1" style="background-color: #FFF">
    <p>Hello World!</p>
  </div>
</div>
  
  <a href="" style="float: right;"><%= post.created_at.strftime("%B %d, %Y") %>
    
  </a>

</div>
<div style="position: relative;text-align: center;max-width: 600px;background-color: #1d2129; border: 1px solid #efefef;">
  <%= link_to  user_post_path(current_user, post),style: '' do %>
    <img src="<%= post.file %>" style="max-width: 600px;max-height: 600px"/>
  <% end %>  
  
</div>
<div class="post-content">
    
    
    <div style="padding: 0 24px">   
        <p id="likers" style="color: #262626;font-weight: 600;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 15px;padding-top: 10px">
          <%= post.liking_users.count %> likes

        </p>                             
        <ul style="margin: 0px;padding: 0px">
          <li style="text-decoration: none;list-style: none;position: relative;word-wrap: break-word;">
              <a  style=" color: #262626;font-weight: 600;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-left: 5px;margin-left: -5px;font-size: 15px">
              <%= post.user.user_name %> 
          </a>          
          <span style="font-family: 'Open Sans', sans-serif;"><%= sanitize post.content %> </span>             
          </li>

          
        </ul>
        <hr>
                           
        <div class="" style="margin-bottom: 20px;">
          <div class="like_form" id="like_form" style="max-width: 10%;display: inline-block">
            <% if current_user.liking?(post)%>
              <%= render 'likes/unlike' ,  post: post  %>
            <% else%> 
              <%= render 'likes/like' ,  post: post  %>
            <% end %>  
          </div>

          <form style="width: 80%;display: inline-block">
            <input type="" name="" style="background: 0 0;border: none;color: #262626;outline: none;width: 100%;" placeholder="Add a comment">  
          </form>
          
        </div> 
    </div>
</div>

</div>