<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to tags_path(user_id: current_user.id, post_id: post.id), method: :post do %>
            <input type="checkbox" name="" class="button-tag" data-user_id="<%= current_user.id %>" data-post_id="<%= post.id %>">
          <% end %>
        </td>
        
        <td><%= post.title %></td>
        <td><%= post.content %></td>
       
          <td><%= link_to 'Show', user_post_path(current_user, post) %></td>
        <% if current_user == post.user %>
          <td><%= link_to 'Edit', edit_user_post_path(current_user, post) %></td>
          <td><%= link_to 'Destroy', user_post_path(current_user, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if current_user == User.find(params[:user_id]) %>
  <%= link_to 'New Post', new_user_post_path %>
  <% end %>  

  <script type="text/javascript">
    $(".button-tag").click(function(){
      if($(this).is(":checked")){
        checked_tag($(this).data("user_id"), $(this).data("post_id"))
      }
      else {

      }
    })
    function checked_tag(user_id, post_id){
     
      $.ajax({
        url: "/tags/",
        type: "POST",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {user_id: user_id,post_id: post_id},
        dataType: "json",
        cache: false,
        success: function(){
           debugger
        },
        error: function(){
          alert("Fails!!");
        }
      })
    } 
    function un_checked_tag(user_id){

    }



  </script>


