<div class="container">
    
    <div class="row" style="">
        <div class="col-md-3">
            <div class="block">
                <ul class="theme-meta" style="list-style: none;padding: 0px;">
                    <li style="padding: 10px 30px 10px;" >
                        <a class="title" style=" color: #777; text-decoration: none; " href="/">
                          <h4>
                            admin1@gmail.com
                          </h4>
                        </a>
                    </li>
                    
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">120 follwers</p>
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">43 posts</p> 
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">About</p>
                        <span>Co-Founder & Producer at YumYum</span>
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">Interests</p> 
                        <span>Seafood, Pizza, Cake</span>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="col-md-9">
              <div class="page-heading">
        <div class="row">
            <div class="col-md-8">
               <% @posts.each do |post| %>

                  <div style="position: relative; margin-bottom: 20px">
                    <%= link_to  user_post_path(current_user, post) do %>
                      <img src="http://s.iamafoodblog.com/wp-content/uploads/2017/03/IAM_2048.jpg" style="max-width: 735px;max-height: 483px">
                    <% end %>
                    <%= link_to  user_post_path(current_user, post), style: 'background: #FFFC;color: #fff;text-align: left;font-size: 14px;padding: 10px;position: absolute;bottom: 20px;left: 20px;line-height: normal;width: 600px' do %>
                      <span style="color: #000;"><%= post.created_at %></span>
                      <span style="color: #000;float: right;"><img src="/assets/heart.png"> 61</span>
                      <p style=" color: #000;font-size: 23px;font-weight: 900;margin-top: 10px;"> <%= post.title %></p>
                      <span style="color: #000;" ><%= post.content %></span>  
                    <% end %>
                  </div>                         
              <% end %>      
               
              <% if current_user == User.find(params[:user_id]) %>
                <%= link_to 'New Post', new_user_post_path %>
              <% end %>  

              <script type="text/javascript">
                $(".button-tag").click(function(){
                  if($(this).is(":checked")){
                    checked_tag($(this).data("user_id"), $(this).data("post_id"))
                  }
                  else {

                  }
                })
                function checked_tag(user_id, post_id){
                 
                  $.ajax({
                    url: "/tags/",
                    type: "POST",
                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                    data: {user_id: user_id,post_id: post_id},
                    dataType: "json",
                    cache: false,
                    success: function(){
                       debugger
                    },
                    error: function(){
                      alert("Fails!!");
                    }
                  })
                } 
                function un_checked_tag(user_id){

                }



              </script>
            </div>
        </div>    
    </div>
        </div>
    </div>
</div>

