<div class="container">
    
    <div class="row" style="">
        <div class="col-md-3">
            <div class="block">
                <ul class="theme-meta" style="list-style: none;padding: 0px;">
                    <li style="padding: 10px 30px 10px;" >
                        <a class="title" style=" color: #777; text-decoration: none; " href="/">
                          <h4>
                          <%= current_user.user_name %>
                          </h4>
                        </a>
                    </li>
                    <li style="padding: 0px 30px 10px">
                      <% if current_user != @user%>
                      <button class="btn btn-default" style="width: 100%">Following</button>
                    <% end %>
                    </li>
                    
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;"><%= current_user.following.count %> follwers</p>
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;"><%= @posts.count %>
                          <% if @posts.count > 0%> 
                            posts
                          <% else %>
                            post
                          <% end %>
                        </p> 
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">About</p>
                        <span>Co-Founder & Producer at YumYum</span>
                    </li>
                    <li style="padding: 0px 30px 10px">
                        <p style=" color: #777;">Interests</p> 
                        <span>Seafood, Pizza, Cake</span>
                    </li> 
                </ul>
            </div>
        </div>
        <div class="col-md-9">
                <% if current_user == @user%>
                  <%= render 'form', post: @post %> 
                <% end %>
                <% if @posts.count == 0 %>
                  <h3 style="color: #777">Empty</h3>
                <% end %>
                <hr style="max-width: 725px">
                <% @posts.each do |post| %>

                  <div style="position: relative; margin-bottom: 20px">
                    <%= link_to  user_post_path(current_user, post) do %>
                      <img src="http://s.iamafoodblog.com/wp-content/uploads/2017/03/IAM_2048.jpg" style="max-width: 735px;max-height: 483px">
                    <% end %>
                    <%= link_to  user_post_path(current_user, post), style: 'background: #FFFC;color: #fff;text-align: left;font-size: 14px;padding: 10px;position: absolute;bottom: 20px;left: 20px;line-height: normal;width: 600px' do %>
                      <span style="color: #000;"><%= post.created_at %></span>
                      <span style="color: #000;float: right;"><img src="/assets/heart.png"> 0</span>
                      <p style=" color: #000;font-size: 23px;font-weight: 900;margin-top: 10px;"> <%= post.title %></p>
                      <span style="color: #000;" ><%= post.content %></span>  
                    <% end %>
                  </div>                         
                <% end %>      
               
              
                
               
        </div>
    </div>
</div>

