<nav class="navbar navbar-default navbar-fixed-top" style="border-radius: 0px; background-color: #FFF;">
  <div class="container" style="max-width: 920px!important;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div style="padding-top: 5px;display: inline-block;">
        <a class="form-title" href="/" style="  color: #6c7a8d;
  text-align: center;
  font-size: 28px;
  font-weight: 800 !important;
  font-family: 'Pacifico', cursive;margin-top: 40px;text-decoration: none"><span>YumYum</span> </a>  
      </div>
      <div style="display: inline-block;margin-left: 150px">
            <%= form_for :search, url: search_path do |f| %>
              <% f.text_field :content%>
            <% end %>
      </div>
        
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="">

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li style="text-align: center;">
               
          </li>
          <li><%= link_to current_user.email, user_path(current_user) %></li>
          
          <li>
            <div class="dropdown">

              <button class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="border: 0px;background-color: transparent;padding-top: 15px;padding-bottom: 15px;color: #777"><img src="/assets/notification.png">              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu" style="width: 502px;max-height: 400px;overflow: auto;">
                <li role="presentation" style="border-bottom: solid 1px #dbdbdb;">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0 0 0 12px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi started following you.
                  </a> 
                  <div style="width: 80px;float: right;margin: 16px">
                    
                  </div>
                  
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="border-bottom: solid 1px #dbdbdb;">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="border-bottom: solid 1px #dbdbdb;">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi liked your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
                 <li role="presentation" style="">
                  <img src="/assets/preview.png" style="width: 40px;height: 40px; display: inline-block; margin: 0px 0px 0 10px">
                  <a href="" style="padding: 15px !important;display: inline-block;">ngoctrang_nguyen_thi commented on your post.
                  </a> 
                  <img src="/assets/preview.png" style="width: 40px;height: 40px;float: right;margin-right: 20px">                    
                  <%= link_to '', user_posts_path(current_user) %>                    
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">

              <button class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="border: 0px;background-color: transparent;padding-top: 15px;padding-bottom: 15px;color: #777"><img src="/assets/settings.png">
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu">
                <li role="presentation"><%= link_to 'My Posts', user_posts_path(current_user) %></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Activities Log</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/users/edit">Manager Account</a></li>
                <li><%=  link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>
          
          
        <% else %>  
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>        
      </ul>
    </div>
  </div>
</nav>