<!DOCTYPE html>
<html>
  <head>
    <title>YumYum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/font-awesome.min.css">

    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/login.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-2.2.3.min.js">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&amp;subset=vietnamese" rel="stylesheet"> 
  </head>

  <body>
  <% if current_user.present? %>
    <%= render "/layouts/header" %>
  <% end %>  
    <div     style="padding-top:80px">
        <%= yield %>    
    </div>
    
  </body>
</html>
